* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(108, 111, 66, 0.12);
}

.title {
  text-align: center;
  padding: 10px;
  font-size: 4rem;
  font-family: cursive;
  color: rgba(0, 26, 84, 0.58);
}

input {
  margin: auto;
  display: block;
  border: 10px solid rgba(171, 197, 40, 0.15);
}

.instruction-block {
  margin: auto;
  width: 500px;
  margin-top: 60px;
  padding-left: 10px;
  background: rgba(211, 255, 0, 0.3);
  text-align: center;
  padding: 10px;
  border: 5px dashed rgba(109, 123, 39, 0.6);
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
}

img {
  width: 60px;
  border-radius: 10px;
}